@charset "UTF-8";

body { background-color: #e6e6e6;}



logo {width: 20%;}

.ul-menu {margin-top: 2%; margin-bottom: 2%; float: right;}

.logo {width: 12%;}

li {font-size: 130%;}

.li-menu {margin-right: 9%; font-family: 'Noto Sans', sans-serif;}

.li-menu-contato {font-family: 'Noto Sans', sans-serif;}

.li-menu:hover {border-bottom: 4px solid #af1313; margin-bottom: -5%;}

.li-menu-contato:hover {border-bottom: 4px solid #af1313; margin-bottom: -5%;}

.redes-sociais {margin-top: 1%; margin-bottom: 1%; font-family: 'Noto Sans', sans-serif;}

.pizza{width: 35%;}

h1 {font-size: 150%;}

.pizza-aside {margin-left: 5%; color: #6a6a6a; font-weight: bolder; }

.pizza-aside-2 {margin-left: 7.3%; color: #6a6a6a; font-weight: bolder;}

.pizza-aside-3 {margin-left: 8%; color: #6a6a6a; font-weight: bold;}

.pizza-aside-mobile {color: #6a6a6a; font-weight: bolder; margin-left: 3%; margin-right: 3%;}

.asides {margin-top: 4%; margin-bottom: 4%; font-family: 'Noto Sans', sans-serif;}

.clientes {margin-top: 35%; font-family: 'Noto Sans', sans-serif;}

.aside-clientes {margin-bottom: 14%;}

.mapa_mobile {height: 100%;
background-color: #000000;
padding-top: 4%;
font-size: 100%;}

.texto-mapa {margin-left: 4%;
font-size: 120%;
margin-bottom: 4%;
font-family: 'Noto Sans', sans-serif;}

.texto-mapa-2 {margin-left: 4%;
    font-size: 120%;
margin-bottom: 4%;
font-family: 'Noto Sans', sans-serif;}

.texto-mapa-3 {margin-left: 4%;
    font-size: 120%;
margin-bottom: 4%;
font-family: 'Noto Sans', sans-serif;}


.texto-footer {color: #ffffff; font-family: 'Noto Sans', sans-serif;}

.texto-footer a {color: #fff;
text-decoration: none;
font-family: 'Noto Sans', sans-serif;}

.texto-footer a:hover {border-bottom: 4px solid #af1313;}

.desenvolvido {font-family: 'Noto Sans', sans-serif;}

